<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socks Crud</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" >

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Rafal's socks management system</h1>
            <a href="{{ url_for('add') }}" class="btn btn-lg btn-primary">Add new socks</a>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Nr</th>
                <th>Sock name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
            {%  set i = 0 %}
            {% for sock in socks %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ sock.name }}</td>
                {% if sock.description|length > 30 %}
                    <td>{{ sock.description|truncate(30) }}</td>
                {% else %}
                    <td>{{ sock.description}}</td>
                {% endif %}
                <td>{{ sock.price }}$</td>
                <td>
                    <div class="btn-group">
                      <a href="{{ url_for('show', idx=sock.id)}}" role="button" class="btn btn-sm btn-primary" >Examine</a>
                      <a href="{{ url_for('update', idx=sock.id)}}" role="button" class="btn btn-sm btn-warning" >Update</a>
                      <a href="{{ url_for('delete', idx=sock.id)}}" role="button" class="btn btn-sm btn-danger" >Delete</a>
{#                      <button type="button" class="btn btn-sm btn-warning" value="{{ sock.id }}">Update</button>#}
{#                      <button formmethod="get" formaction="{{ url_for('delete', idx=sock.id) }}" type="button" class="btn btn-sm btn-danger" value="{{ sock.id }}">Delete</button>#}
                    </div>
                </td>
              </tr>
            {%  set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>